@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
nav {
  /* box-shadow: 2px 2px 5px rgb(188, 188, 209, 0.6); */
  position: fixed;
  width: 100vw;
  z-index: 9999;
  height: 10vh;
}
li {
  padding-left: 35px;
}
a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.dropdown > button {
  color: #212529;
}
.displayName {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #212529;
  font-size: 1.1em;
}
.bgchange {
  background-color: #f3eee8d0 !important;
}
.dropdown-menu {
  background-color: #f3eee8d0 !important;
}

@media screen and (max-width: 668px) {
  nav {
    height: auto;
    min-height: 10vh;
  }
}
