<article>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 nopadding ">
        <div class="categorie-text ">
          <div class="about">
            <p class="pt-5">
              Hello, My name is Viktoriia, I was born and raised in Ukraine
            </p>
            <p class="pt-5">
              Since my childhood i've been drawing and creating clothing thus i
              wanted to become a fashion designer but i followed my parents'
              advice and went to university to study foreign languages. to be
              honest i don't regret it because i believe that the right things
              enter our life in divine timing.
            </p>
            <p class="pt-5">
              When in 2015 i moved to Paris, France i saw it like a sign and i
              started to create my first collection. Being a selftaught designer
              is challenging but at the same time it's so much fun - i learn as
              i go, living an exciting journey !
            </p>
            <p class="pt-5">
              I have always had a vision of a quality garment that can offer
              several silhouettes - a chic piece of clothing that is adapted to
              dynamic lifestyle of nowadays young women who care about our
              planet and want to make one more step away from overconsumption.
            </p>
            <p class="pt-5">
              That's why i believe that convertible clothing is the future that
              starts now !
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 nopadding">
        <div class="foto"></div>
      </div>
    </div>
  </div>
</article>
