.signUP {
  color: rgb(37, 37, 37);
  border-style: solid;
  border-width: rgb(37, 37, 37) 1px;
  padding: 15px 60px;
  border-color: rgb(37, 37, 37);
  float: left;
  border-radius: unset;
}
.signUP:hover,
.signUP:focus,
.signUP:active,
.signUP.active,
.open > .dropdown-toggle.signUP {
  transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
  background-color: rgba(37, 37, 37, 0.897) !important;
  border-color: white;
  color: white;
}
.forma {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f8f5f0;
  border-radius: unset;
}
.forma:focus,
.forma:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: gray;
  background-color: #f8f5f0;
}
