<form
  #userRegForm="ngForm"
  (ngSubmit)="createUser(userRegForm)"
  class="text-center border border-light mt-5  shadow-none "
  action="#!"
>
  <div class="form-row mt-5 mb-4">
    <div class="col">
      <input
        type="text"
        id="firstName"
        name="firstName"
        ngModel
        #firstName="ngModel"
        class="form-control forma"
        placeholder="First name"
      />
    </div>
    <div class="col">
      <input
        type="text"
        id="lastName"
        name="lastName"
        ngModel
        #lastName="ngModel"
        class="form-control forma"
        placeholder="Last name"
      />
    </div>
  </div>

  <input
    type="email"
    id="email"
    name="email"
    ngModel
    #email="ngModel"
    class="form-control mb-4 forma"
    placeholder="E-mail"
  />

  <input
    type="password"
    id="password"
    name="password"
    ngModel
    #password="ngModel"
    class="form-control mb-4 forma"
    placeholder="Password"
    aria-describedby="defaultRegisterFormPasswordHelpBlock"
  />

  <input
    type="text"
    id="phone"
    name="phone"
    ngModel
    #phone="ngModel"
    class="form-control forma"
    placeholder="Phone number"
    aria-describedby="defaultRegisterFormPhoneHelpBlock"
  />

  <button
    class="btn btn-info my-4 bg-transparent shadow-none signUP"
    type="submit"
  >
    Sign UP
  </button>
</form>
<div *ngIf="authError">
  <div class="pt-5">
    {{ authError?.message }}
  </div>
</div>
