@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
article {
  height: 80vh;
  max-width: 100vw;
  background-color: #f8f5f0;
}
.foto {
  height: 80vh;
  /* background-image: url("../../../../../assets/img/IMG_6074.jpg"); */
  background-image: url("../../../../../assets/img/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.categorie-text {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 70%;
  color: rgb(49, 48, 48);
}
a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: rgb(49, 48, 48);
  text-decoration: underline;
}
a {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .disparaitre {
    display: none;
  }
}
