@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f5f0;
}

a {
  text-decoration: none;
  color: gray;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #6a185b;
}
.mat-tab-label,
.mat-tab-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #6a185b;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
