section {
  padding-top: 20vh;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  position: relative;
  z-index: 10;
  text-align: center;
  justify-content: center;
}
p {
  position: absolute;
  bottom: 20px;
  left: 37%;
}
