<section>
  <article>
    <div class="categorie-text">
      <h2>Viktoriia Guigno</h2>
      <p>Discover Convertible Clothing</p>
      <br />
      <a id="test" (click)="gosectionII()">Discover now</a>
    </div>
  </article>
</section>
