@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
section {
  padding-top: 10vh;
  max-width: 100vw;
  height: 100vh;
  background-color: #f8f5f0;
  box-sizing: border-box;
}
article {
  height: 90vh;
  max-width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(19, 18, 18, 0.15)
    ),
    url(../../../../../assets/img/headerIMG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.categorie-text {
  position: absolute;
  top: 28%;
  left: 3%;
  color: #f4ebe0;
}
a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: rgb(49, 48, 48);
  text-decoration: underline;
}
h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.2em;
  font-size: 3.3em;
  font-weight: 600;
}
p {
  font-family: "Cinzel", serif;
  letter-spacing: 0.3em;
  font-size: 1.1em;
}

@media screen and (max-width: 576px) {
  .categorie-text {
    top: 50%;
  }
  article {
    height: 90vh;
    max-width: 100vw;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15),
        rgba(19, 18, 18, 0.15)
      ),
      url(../../../../../assets/img/IMG_5841.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#test {
  cursor: pointer;
}
