.border {
  border: none !important;
}
.image {
  height: 380px;
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
}

.image img {
  transition: 1.4s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
}

.image img:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
}
h2 {
  font-size: 0.7em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: rgb(49, 48, 48);
  letter-spacing: 0.2em;
}

p {
  font-size: 0.8em;
  font-family: "Cinzel", serif;
  letter-spacing: 0.2em;
}
