<section [@inGoAnimation]>
<p class="pl-5 ml-3">Your favorites</p>

<div class="container bg-transparent ">
  <div class="row" *ngIf="favorite?.length > 0; else nofavorite">
    <div class="col-md-3 col-sm-6 pt-5" *ngFor="let favorite of favorite">
      <div class="card text-center bg-transparent border">
        <div class="image">
          <img
            src="{{ favorite.course.urlImage }}"
            class="img-fluid mx-auto photo shadow"
            width="100%"
            height="auto"
            alt="..."
          />
        </div>
        <div class="card-body bg-transparent cardBody">
          <h2>{{ favorite.course.title }}</h2>
          <p class="card-text">{{ favorite.course.price }} €</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>