section {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  position: relative;
  z-index: 10;
  padding-top: 10vh;
}
h3 {
  text-align: center;
  font-size: 0.9em;
}
table {
  margin-left: 15vw;
  margin-top: 5vh;
  width: 70vw;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mat-table {
  background: transparent !important;
}
.remove {
  opacity: 0.5;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom: none !important;
}
.total {
  margin-left: 15vw;
  width: 70vw;
  border: none !important;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  border: none;
}
.next {
  color: rgb(37, 37, 37);
  border-style: solid;
  border-width: rgb(37, 37, 37) 1px;
  padding: 10px 60px;
  border-color: rgb(37, 37, 37);
  border-radius: unset;
  letter-spacing: 0.1em;
}

.next:hover,
.next:focus,
.next:active,
.next.active,
.open > .dropdown-toggle.next {
  transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
  background-color: rgba(37, 37, 37, 0.897) !important;
  border-color: white;
  color: white;
}
