<section>
  <!-- <h3>Your items</h3> -->
  <table
    mat-table
    [dataSource]="coursesShopping"
    class="mat-elevation-z8 bg-transparent bord"
  >
    <ng-container matColumnDef="urlImage">
      <th mat-header-cell *matHeaderCellDef>Your items</th>
      <td mat-cell *matCellDef="let element" class="ellipsis ">
        <img
          src="{{ element.courses.urlImage }}"
          alt=""
          class="img-fluid p-3"
          width="150"
          height="135"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        {{ element.courses.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">{{ element.courses.price }}€</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="text-right remove">
        <a mat-button (click)="Delete(row.courses.key)">Remove</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-card class="example-card bg-transparent total ">
    <mat-card-header>
      <mat-card-title class="card-container-left"
        >Total : {{ getTotal() | currency }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button
        class="btn btn-info my-5 bg-transparent shadow-none next"
        type="submit"
        (click)="onNext()"
        *ngIf="getTotal() > 0"
      >
        Checkout
      </button>
    </mat-card-actions>
  </mat-card>
</section>
