@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
article {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  position: relative;
  z-index: 10;
  padding-top: 10vh;
}
.sectionleft {
  height: 40vh;
  position: fixed;
}
.sectionright {
  min-height: 100vh;
  position: relative;
  margin-left: auto;
}
.logout {
  color: rgb(37, 37, 37);
  border-style: solid;
  border-width: rgb(37, 37, 37) 1px;
  padding: 10px 50px;
  border-color: rgb(37, 37, 37);
  border-radius: unset;
}

.logout:hover,
.logout:focus,
.logout:active,
.logout.active,
.open > .dropdown-toggle.logout {
  transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
  background-color: rgba(37, 37, 37, 0.897) !important;
  border-color: white;
  color: white;
}
.button {
  color: gray !important;
}
.btn-link:hover {
  color: rgb(37, 37, 37);
}

@media screen and (max-width: 768px) {
  .sectionleft {
    position: inherit;
    height: 30vh;
    text-align: center;
    justify-content: center;
  }
  .sectionright {
    position: inherit;
  }
}
