<section>
  <mat-tab-group class="pourFixer d-lg-flex align-items-lg-center ">
    <mat-tab
      class="pourFixer"
      *ngFor="let categorie of categories"
      [label]="categorie.label"
    >
      <div class="container pt-5">
        <div class="row">
          <div
            class="col-lg-3 col-md-6 col-sm-12"
            *ngFor="let course of getCoursesByCategorie(categorie.key)"
          >
            <div class="card text-center shadow mt-3">
              <button
                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded likebutton"
                aria-pressed="false"
                aria-label="Add to favorites"
                title="Add to favorites"
                (click)="Addtofavorites(course)"
              >
                <i
                  class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on likebutton"
                  >favorite</i
                >
                <i
                  class="material-icons mdc-icon-button__icon"
                  [class.disparaitre]="check2"
                  >favorite_border</i
                >
                <i class="material-icons disparaitre" [class.paraitre]="check">
                  favorite
                </i>
              </button>

              <img
                [src]="course.urlImage"
                class="img-fluid mx-auto img"
                height="auto"
                alt="..."
              />
              <div class="card-body display">
                <h2 class="pt-3">{{ course.title }}</h2>
                <p>{{ course.price }}€</p>
              </div>
              <!-- <button mat-button class="ajouter" (click)="AddtoCart(course)">
                Add to cart
              </button> deplacé dans descrition-->
              <button
                mat-button
                class="ajouter"
                (click)="AccessCourse(course.key)"
              >
                Access Course
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
