@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
section {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  position: relative;
  z-index: 10;
  padding-top: 10vh;
}

mat-card {
  margin: 2%;
}
h2 {
  font-size: 0.7em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: rgb(49, 48, 48);
  letter-spacing: 0.2em;
}

p {
  font-size: 0.8em;
  font-family: "Cinzel", serif;
  letter-spacing: 0.2em;
}
.likebutton,
p {
  opacity: 0;
}
.material-icons,
.mdc-icon-button {
  font-size: 14px !important;
}

.card-body {
  padding: 0em !important;
}
.shadow:hover p {
  opacity: 1;
  transition: 0.6s;
}
.shadow:hover button {
  opacity: 1;
  transition: 0.6s;
}
.ajouter {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #f8f5f0;
  letter-spacing: 0.1em;
  background-color: #6a185b;
  border-radius: 0;
}

.disparaitre {
  display: none;
}
.paraitre {
  display: block;
  opacity: 1;
}
