<!-- <button mat-raised-button (click)="onLogout()">deconnecter Google</button> -->
<!-- <button mat-raised-button (click)="onLoginFace()">Login With Facebook</button> -->
<article>
  <div class="container-fluid footer-bottom-list p-2">
    <div class="row padd">
      <div
        class="col-lg-4 col-md-12 col-sm-12  welcome align-content-start text-left p-5 ml-5 "
      >
        Welcome
        <div class="mt-5">
          <button mat-raised-button class="ml-2 mt-2" (click)="onLogin()">
            Login With Google
          </button>

          <button mat-raised-button class="ml-2 mt-2" (click)="onLoginFac()">
            Login With Facebook
          </button>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12  align-content-center text-center p-5 mx-auto "
      >
        <button
          type="button"
          class="btn btn-link float-left"
          (click)="toggleDisplay()"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-link float-right"
          (click)="toggleDisplay2()"
        >
          Register
        </button>
        <app-leftlogin *ngIf="isShow"></app-leftlogin>
        <app-rightregistr *ngIf="isShow2"></app-rightregistr>
      </div>
    </div>
  </div>
</article>
