<form
  #loginForm="ngForm"
  (ngSubmit)="login(loginForm)"
  class="text-center border border-light mt-5"
  action="#!"
>
  <input
    type="email"
    id="email"
    ngModel
    #email="ngModel"
    name="email"
    class="form-control mt-5 mb-4 forma"
    placeholder="E-mail"
  />

  <input
    type="password"
    id="password"
    name="password"
    ngModel
    #password="ngModel"
    class="form-control mb-4 forma"
    placeholder="Password"
  />

  <button
    class="btn btn-info my-4  bg-transparent shadow-none signIN"
    type="submit"
  >
    Sign In
  </button>
  <a mat-button class="mt-4 float-lg-right float-sm-left" (click)="montre()"
    >Mot de pass oublié ?</a
  >

  <!-- (click)="toggleDisplay2()" -->
  <div *ngIf="cache">
    <input
      type="email"
      class="form-control mt-5 mb-4 forma"
      placeholder="E-mail"
      #passwordResetEmail
      required
    />
    <a
      mat-button
      class="mt-4 float-lg-right float-sm-left"
      (click)="mpOublie(passwordResetEmail.value)"
      >Envoyer nouv mp</a
    >
  </div>
</form>
