@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
article {
  min-height: 90vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  position: relative;
  z-index: 10;
}

.partie {
  margin-top: 10vh;
  min-height: 90vh;
  background-color: #f8f5f0;
  padding-left: 1vw;
}
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* border: 2px dotted black; */
}
.ptit {
  padding-left: 2vw;
  width: 110px;
  cursor: pointer;
}
.portable {
  width: 100vw;
}
.testphoto {
  position: absolute;
}
.grand {
  width: auto;
  height: 90vh;
  /* border: 2px dashed purple; */
  position: absolute;
  left: 15vw;
}
.text {
  padding-top: 20vh;
  padding-right: 8vw;
}
h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.2em;
  font-size: 1.6em;
  font-weight: 500;
}
.return {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.close {
  position: absolute;
  top: 15vh;
  right: 10px;
}
.addToCart {
  color: rgb(37, 37, 37);
  border-style: solid;
  border-width: rgb(37, 37, 37) 1px;
  padding: 15px 60px;
  border-color: rgb(37, 37, 37);
  border-radius: unset;
  letter-spacing: 0.1em;
}

.addToCart:hover,
.addToCart:focus,
.addToCart:active,
.addToCart.active,
.open > .dropdown-toggle.addToCart {
  transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
  background-color: rgba(37, 37, 37, 0.897) !important;
  border-color: white;
  color: white;
}
.forportable {
  display: none;
}
.opacity {
  opacity: 0.5;
}
.list-group-item {
  border: none !important;
  background-color: transparent !important;
}
.mat-input-underline {
  background-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .partie {
    height: 0px;
  }
  .disparaitre {
    display: none;
  }
  .forportable {
    display: block;
  }
  .paddingptt {
    margin-top: 10vh;
  }
  .text {
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    text-align: center;
  }
}
