<article>
  <div class="container-fluid">
    <div class="row">
      <!-- supprimer petit ecran -->
      <div class="col-lg-6 col-md-12 nopadding disparaitre">
        <div>
          <div class="partie photo ">
            <div class="row disparaitre">
              <div
                class=" col-lg-3 nopadding d-flex flex-column bd-highlight  m-auto testphoto"
              >
                <div class="p-2 pt-5 bd-highlight">
                  <a (click)="goPhoto2()">
                    <img
                      src="{{ courses.url2Image }}"
                      class="ptit"
                      alt="photo1"
                      [class.opacity]="check2"
                    />
                  </a>
                </div>
                <div class="p-2 bd-highlight">
                  <a (click)="goPhoto3()">
                    <img
                      src="{{ courses.url3Image }}"
                      class="ptit"
                      alt="photo2"
                      [class.opacity]="check3"
                    />
                  </a>
                </div>
                <div class="p-2 bd-highlight">
                  <a (click)="goPhoto4()">
                    <img
                      src="{{ courses.url4Image }}"
                      class="ptit"
                      alt="photo3"
                      [class.opacity]="check4"
                    />
                  </a>
                </div>
                <div class="p-2 bd-highlight">
                  <a (click)="goPhoto()">
                    <img
                      src="{{ courses.urlImage }}"
                      class="ptit"
                      alt="photo4"
                      [class.opacity]="check"
                    />
                  </a>
                </div>
              </div>

              <div
                class="col-lg-9 nopadding align-self-center justify-content-center "
              >
                <img
                  src="{{ courses.urlImage }}"
                  class="grand shadow"
                  id="isShowID"
                  *ngIf="isShow"
                  [@inOutAnimation]
                  alt=""
                />
                <img
                  src="{{ courses.url2Image }}"
                  class="grand shadow"
                  id="isShow2ID"
                  *ngIf="isShow2"
                  [@inOutAnimation]
                  alt=""
                />
                <img
                  src="{{ courses.url3Image }}"
                  class="grand shadow"
                  id="isShow3ID"
                  *ngIf="isShow3"
                  [@inOutAnimation]
                  alt=""
                />
                <img
                  src="{{ courses.url4Image }}"
                  class="grand shadow"
                  id="isShow4ID"
                  *ngIf="isShow4"
                  [@inOutAnimation]
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- supprimer petit ecran -->

      <!-- for smoll ecran -->
      <div
        class="col-lg-6 col-md-12 nopadding forportable text-center justify-content-center"
      >
        <div>
          <div
            id="carouselExampleControls"
            class="carousel slide forportable"
            data-ride="carousel"
          >
            <div class="carousel-inner paddingptt">
              <div class="carousel-item active">
                <img
                  src="{{ courses.url2Image }}"
                  class="d-block w-100 portable"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="{{ courses.url3Image }}"
                  class="d-block w-100 portable"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="{{ courses.url4Image }}"
                  class="d-block w-100 portable"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="{{ courses.urlImage }}"
                  class="d-block w-100 portable"
                  alt="..."
                />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <!-- fin  for smoll ecran -->
      <div
        class="col-lg-6 col-md-12 col-sm-12 nopadding"
        *ngIf="isPrinsipal"
        [@inGoAnimation]
      >
        <div class="partie text ">
          <p>{{ courses.collection }}</p>
          <h2>{{ courses.title }}</h2>
          <p class="pt-2 text-justify">{{ courses.description }}</p>
          <mat-form-field>
            <mat-label>Select your size</mat-label>
            <select matNativeControl required>
              <option value="volvo">S</option>
              <option value="saab">M</option>
              <option value="mercedes">L</option>
            </select>
          </mat-form-field>

          <br />
          <button
            class="btn btn-info my-5 bg-transparent shadow-none addToCart"
            type="submit"
            (click)="AddtoCart(courses)"
          >
            Add to Cart - {{ courses.price }} €
          </button>
          <ul
            class="list-group bg-transparent border-0  return list-group-horizontal-lg"
          >
            <li class="list-group-item">
              <a mat-button (click)="goDetails()">Details</a>
            </li>
            <li class="list-group-item">
              <a mat-button routerLink="/courses">Shipping & Returns </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- details -->
      <div
        class="col-lg-6 col-md-12 col-sm-12 nopadding text-justify"
        *ngIf="isDetail"
        [@inGoAnimation]
      >
        <div class="partie text pl-5 pr-5 ml-5 ">
          <ul
            class="list-group bg-transparent border-0  close list-group-horizontal-lg"
          >
            <li class="list-group-item">
              <a mat-button (click)="goClose()">Close</a>
            </li>
          </ul>
          <p class="pt-5">{{ courses.collection }}</p>
          <p>{{ courses.detail }}</p>
          <p>{{ courses.composition }}</p>
          <p>Made in Paris</p>
          <ul
            class="list-group bg-transparent border-0  return list-group-horizontal-lg"
          >
            <li class="list-group-item">
              <a mat-button (click)="goDetails()">Details</a>
            </li>
            <li class="list-group-item">
              <a mat-button routerLink="/courses">Shipping & Returns </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- fin details -->
    </div>
  </div>
</article>
