<mat-card class="example-card">
  <mat-card-title>Add produit</mat-card-title>
  <mat-dialog-content>
    <form [formGroup]="regiForm" (ngSubmit)="onSubmit(regiForm.value)">
      <table class="table">
        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                name="title"
                formControlName="title"
                placeholder="Title"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('title').valid && regiForm.get('title').touched
                "
              >
                Please enter the title !
              </span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="price">
              <input
                type="number"
                formControlName="price"
                matInput
                placeholder="price"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('price').valid && regiForm.get('price').touched
                "
              >
                Please enter the price !
              </span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                formControlName="urlImage"
                name="urlImage"
                placeholder="urlImage"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('urlImage').valid &&
                  regiForm.get('urlImage').touched
                "
              >
                Please enter the urlImage !
              </span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                formControlName="url2Image"
                name="url2Image"
                placeholder="url2Image"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('url2Image').valid &&
                  regiForm.get('url2Image').touched
                "
              >
                Please enter the url2Image !
              </span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                formControlName="url3Image"
                name="url3Image"
                placeholder="url3Image"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('url3Image').valid &&
                  regiForm.get('url3Image').touched
                "
              >
                Please enter the url3Image !
              </span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                formControlName="url4Image"
                name="url4Image"
                placeholder="url4Image"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('url4Image').valid &&
                  regiForm.get('url4Image').touched
                "
              >
                Please enter the url4Image !
              </span>
            </mat-error>
          </td>
        </tr>
        <!-- new -->
        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                name="description"
                formControlName="description"
                placeholder="description"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('description').valid &&
                  regiForm.get('description').touched
                "
              >
                Please enter the description !
              </span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                name="composition"
                formControlName="composition"
                placeholder="composition"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('composition').valid &&
                  regiForm.get('composition').touched
                "
              >
                Please enter the composition !
              </span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                name="detail"
                formControlName="detail"
                placeholder="detail"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('detail').valid &&
                  regiForm.get('detail').touched
                "
              >
                Please enter the detail !
              </span>
            </mat-error>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="field">
              <input
                matInput
                name="collection"
                formControlName="collection"
                placeholder="collection"
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('collection').valid &&
                  regiForm.get('collection').touched
                "
              >
                Please enter the collection !
              </span>
            </mat-error>
          </td>
        </tr>

        <!-- fin new -->
        <tr>
          <td>
            <mat-form-field>
              <mat-select
                formControlName="categorie"
                placeholder="select categorie"
              >
                <mat-option>--Select Any--</mat-option>
                <mat-option
                  *ngFor="let categorie of categories"
                  [value]="categorie.key"
                >
                  {{ categorie.label }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !regiForm.get('categorie').valid &&
                  regiForm.get('categorie').touched
                "
              >
                Please enter the categorie !
              </span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td class="content-center">
            <button mat-button [disabled]="!regiForm.valid">Submit</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-dialog-content>
</mat-card>
