@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

h4 {
  font-size: 0.9em;
  letter-spacing: 0.2 em;
  color: #212529;
}
.contact {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
h3 {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.2em;
}
.send {
  width: 170px !important;
  color: rgb(37, 37, 37);
  border-style: solid;
  border-width: rgb(37, 37, 37) 1px;
  padding: 10px 50px;
  border-color: rgb(37, 37, 37);
  border-radius: unset;
}

.send:hover,
.send:focus,
.send:active,
.send.active,
.open > .dropdown-toggle.send {
  transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
  background-color: rgba(37, 37, 37, 0.897) !important;
  border-color: white;
  color: white;
}
.button {
  color: gray !important;
}
.btn-link:hover {
  color: rgb(37, 37, 37);
}
