<article>
  <div class="container-fluid">
    <div class="row">
      <div class=" col-lg-6 col-md-12 col-sm-12 foto"></div>
      <div class="col-lg-6 disparaitre">
        <div class="categorie-text">
          <h2>New arrivals</h2>
          <br />
          <a routerLink="courses">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</article>
