@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
article {
  height: 80vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  /* background-image: linear-gradient(to right, #dce1fe 50%, #edc6ff); */
}
.foto {
  height: 80vh;
  /* background-image: url("../../../../../assets/img/new2.JPG"); */
  background-image: url("../../../../../assets/img/IMG_6182.jpg");
  /* background-image: url("../../../../../assets/img/IMG_5881.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.categorie-text {
  position: absolute;
  top: 70%;
  left: 5%;
  font-family: "Raleway", sans-serif;
}
h2 {
  /* text-transform: uppercase;
  background: linear-gradient(45deg, #c7cce7 30%, #b6a9e6 30%, #d287d3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table; */
  color: rgb(49, 48, 48);
}
a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: rgb(49, 48, 48);
  text-decoration: underline;
}
a {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .disparaitre {
    display: none;
  }
}
