<article>
  <button mat-raised-button (click)="addCourse()" class="m-2">
    Add produit
  </button>
  <br />

  <!-- <mat-form-field class="pt-5">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field> -->

  <table mat-table [dataSource]="courses" class="mat-elevation-z8  pt-5">
    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let element" style="width: 15%;">
        {{ element.title }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef>Categorie</th>
      <td mat-cell *matCellDef="let element" style="width:5%;">
        {{ element.categorie }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element" style="width:15%;">
        {{ element.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="composition">
      <th mat-header-cell *matHeaderCellDef>composition</th>
      <td mat-cell *matCellDef="let element" style="width:15%;">
        {{ element.composition }}
      </td>
    </ng-container>
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef>detail</th>
      <td mat-cell *matCellDef="let element" style="width:15%;">
        {{ element.detail }}
      </td>
    </ng-container>
    <ng-container matColumnDef="collection">
      <th mat-header-cell *matHeaderCellDef>collection</th>
      <td mat-cell *matCellDef="let element" style="width:5%;">
        {{ element.collection }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="urlImage">
      <th mat-header-cell *matHeaderCellDef>urlImage</th>
      <td mat-cell *matCellDef="let element" style="width:7%;">
        <img
          src="{{ element.urlImage }}"
          alt=""
          class="img-fluid p-3"
          width="75"
          height="100"
        />
        <!-- {{ element.urlImage }} -->
      </td>
    </ng-container>
    <ng-container matColumnDef="url2Image">
      <th mat-header-cell *matHeaderCellDef>url2Image</th>
      <td mat-cell *matCellDef="let element" style="width: 7%;">
        <img
          src="{{ element.url2Image }}"
          alt=""
          class="img-fluid p-3"
          width="75"
          height="100"
        />

        <!-- {{ element.url2Image }} -->
      </td>
    </ng-container>
    <ng-container matColumnDef="url3Image">
      <th mat-header-cell *matHeaderCellDef>url3Image</th>
      <td mat-cell *matCellDef="let element" style="width: 7%;">
        <img
          src="{{ element.url3Image }}"
          alt=""
          class="img-fluid p-3"
          width="75"
          height="100"
        />
        <!-- {{ element.url3Image }} -->
      </td>
    </ng-container>
    <ng-container matColumnDef="url4Image">
      <th mat-header-cell *matHeaderCellDef>url4Image</th>
      <td mat-cell *matCellDef="let element" style="width: 7%;">
        <img
          src="{{ element.url4Image }}"
          alt=""
          class="img-fluid p-3"
          width="75"
          height="100"
        />
        <!-- {{ element.url4Image }} -->
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element" style="width: 10%;">
        {{ element.price | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row" style="width: 5%;">
        <button
          mat-icon-button
          matTooltip="Click to edit"
          class="iconbutton"
          color="primary"
          (click)="Edit(row)"
        >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Click to delete"
          class="iconbutton"
          color="warn"
          (click)="Delete(row)"
        >
          <mat-icon aria-label="Edit">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</article>
