article {
  padding-top: 10vh;
  min-height: 100vh;
  max-width: 100vw;
  /* background-color: #e7e5e2; */
  position: relative;
  z-index: 10;
  padding-left: 2%;
  padding-right: 2%;
}
/* Structure */
table {
  max-width: 100vw;
}

.mat-form-field {
  font-size: 14px;
  max-width: 100vw;
}
