@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
footer {
  position: sticky;
  bottom: 0;
  height: 50vh;
  line-height: 2.5em;
  width: 100%;
  background: #f3eee8;
  z-index: 1;
  /* z-index: 5; */
}
.top {
  padding-top: 100px;
}
.footer-bottom-list {
  opacity: 0.4;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  /* position: absolute;
   bottom: 30px; */
}
a {
  color: gray;
}

@media screen and (max-width: 768px) {
  footer {
    position: inherit;
    height: 60vh;
    font-size: 0.8em;
  }
  .top {
    padding-top: 30px;
  }
}

@media screen and (max-width: 568px) {
  footer {
    position: inherit;
    height: 75vh;
  }
  .viktoriia {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
  }
}
