<section>
  <!-- <h3>Your items</h3> -->
  <div class="container mt-5">
    <div class="row pt-5">
      <div class="col col-lg-7 pl-5">
        Detail de Livraison
        <p class="pt-5">
          BLA BLALLBLABLBLBALBALLLALB livraison 2 semaines etc... BLA
          BLALLBLABLBLBALBALLLALB livraison 2 semaines etc... BLA
          BLALLBLABLBLBALBALLLALB livraison 2 semaines etc... BLA
          BLALLBLABLBLBALBALLLALB livraison 2 semaines etc... BLA
          BLALLBLABLBLBALBALLLALB livraison 2 semaines etc... BLA
          BLALLBLABLBLBALBALLLALB livraison 2 semaines etc... BLA
          BLALLBLABLBLBALBALLLALB livraison 2 semaines etc...
        </p>
      </div>
      <div class="col col-lg-5">
        <table
          mat-table
          [dataSource]="coursesOrder"
          class="mat-elevation-z8 bg-transparent bord"
        >
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              {{ element.courses.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              {{ element.courses.price }}€
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>

  <mat-card class="example-card bg-transparent total">
    <mat-card-header fxLayoutAlign="end center">
      <mat-card-title class="card-container-left"
        >Total : {{ getTotal() | currency }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-between end">
      <a mat-button (click)="onCancel()" class="cancel">Cancel</a>
      <button
        class="btn btn-info my-5 bg-transparent shadow-none pay"
        type="submit"
        (click)="onPay()"
      >
        Pay
      </button>
    </mat-card-actions>
  </mat-card>
</section>
