section {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  position: relative;
  z-index: 10;
  padding-top: 10vh;
}
h3 {
  text-align: center;
  font-size: 0.9em;
}
table {
  /* margin-left: 15%; */
  /* margin-top: 5vh; */
  width: 100%;
}
.pay {
  color: rgb(37, 37, 37);
  border-style: solid;
  border-width: rgb(37, 37, 37) 1px;
  padding: 10px 60px;
  border-color: rgb(37, 37, 37);
  border-radius: unset;
  letter-spacing: 0.1em;
}

.pay:hover,
.pay:focus,
.pay:active,
.pay.active,
.open > .dropdown-toggle.pay {
  transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1) !important;
  background-color: rgba(37, 37, 37, 0.897) !important;
  border-color: white;
  color: white;
}
.cancel {
  opacity: 0.7;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}
.container {
  max-width: 100vw !important;
}
p {
  width: 85%;
  text-align: justify;
}
